//@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');

@import 'fonts.scss';
@import 'theme.scss';


* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.card-rounded {
  border-radius: 0.5rem;
  @include themed() {
    border: t('secondary') 1pt solid;
    background: t('bg-card');
  }
}