
// background app color
$bg-light: #F8F8FA;
$bg-dark: #15151F;
$bg-card-light: #FFFFFF;
$bg-card-dark: #25273C;

// background top image
$bg-mobile-light: url("~img/bg-mobile-light.jpg");
$bg-desktop-light: url("~img/bg-mobile-light.jpg");
$bg-mobile-dark: url("~img/bg-mobile-light.jpg");
$bg-desktop-dark: url("~img/bg-mobile-light.jpg");

// Colors
$primary-light: #000;
$primary-dark: #fff;
$secondary: hsl(236, 9%, 61%);
$emphasis: hsl(220, 98%, 61%);
$letters-sizes: "200;400;700";
$titles: #fff;

// Gradient color
$gradient: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));