$primary: hsl(220, 98%, 61%);
$gradient: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$background: rgb(246, 246, 248);
$font-color: #000;

$light-card-background: #fff;
$dark-card-background: #000;

$light-vlg: hsl(0, 0%, 98%);
$light-vlgb: hsl(236, 33%, 92%);
$light-lgb: hsl(233, 11%, 84%);
$light-dgb: hsl(236, 9%, 61%);
$light-vdgb: hsl(235, 19%, 35%);

$dark-vdb: hsl(235, 21%, 11%);
$dark-vddb: hsl(235, 24%, 19%);
$dark-lgb: hsl(234, 39%, 85%);
$dark-lgbh: hsl(236, 33%, 92%);
$dark-dgb: hsl(234, 11%, 52%);
$dark-vdgb: hsl(233, 14%, 35%);
$dark-vdgbh: hsl(237, 14%, 26%);